<html>
	<head>
		<title>dinadarshica</title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css">
	</head>

	<body>
		<div id="header">Dinadarshia</div>

		<div id="message">Hello, keep your eyes on this space.<br> Something nice coming up soon.</div>

		<h1>Profile</h1>
		<div id="info">
			<ul>
				<li><%= @user.name %></li>
				<li><%= @user.bio %> </li>
				<li><%= @user.email %></li>
				<li><%= @user.interests %></li>

			</ul>
		</div>
		<div id="flwrs">
		    Followers
		</div>
		<br />
		<div id="flwing">
		    Following
		</div>
	</body>
</html>